<footer class="py-1 mt-4 bg-color-1">
    <ul class="nav justify-content-center border-bottom mb-2 py-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 color-4">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 color-4">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 color-4">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 color-4">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 color-4">About</a></li>
    </ul>
    <p class="text-center color-4 py-3">© <%= new Date().getFullYear() %> TaskMinder, Inc</p>
</footer>
